<form #miForm="ngForm" class="was-validated">
    <div class="form-group">
      <label>Código</label>
      <ng-container *ngIf="VM.Modo === 'add'">
        <input class="form-control" type="number" name="id" id="id" [(ngModel)]="VM.Elemento.id" #id="ngModel" required>
        <span class="invalid-feedback" [hidden]="!id.errors?.required">Es obligatorio.</span>
      </ng-container>
      <ng-container *ngIf="VM.Modo !== 'add'">
        <label class="form-text">{{VM.Elemento.id}}</label>
      </ng-container>
    </div>
    <div class="form-group">
        <label>Nombre Cliente</label>
        <ng-container *ngIf="VM.Modo === 'add'">
          <input class="form-control" type="text" name="idCliente" id="idCliente" [(ngModel)]="VM.Elemento.idCliente" #idCliente="ngModel" required>
          <span class="invalid-feedback" [hidden]="!idCliente.errors?.required">Es obligatorio.</span>
        </ng-container>
        <ng-container *ngIf="VM.Modo !== 'add'">
          <label class="form-text">{{VM.Elemento.idCliente}}</label>
        </ng-container>
      </div>
    <div class="form-group">
      <label for="numero">Número Tarjeta</label>
      <input class="form-control" type="text" name="numero" id="numero" [(ngModel)]="VM.Elemento.numero" #numero="ngModel" required>
      <span class="invalid-feedback" [hidden]="!numero.errors?.required">Es obligatorio.</span>
    </div>
    <div class="form-group">
        <label for="caducida">Fecha de caducidad</label>
        <input class="form-control" type="text" name="caducida" id="caducida" [(ngModel)]="VM.Elemento.caducida" #caducida="ngModel">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input class="form-control" type="text" name="tipo" id="tipo" [(ngModel)]="VM.Elemento.tipo" #tipo="ngModel">
    </div>
    <div class="text-right">
      <div class="btn-group">
        <input class="btn btn-outline-success" type="button" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
        <input *ngIf="VM.Modo !== 'add'" class="btn btn-outline-danger" type="button" value="Borrar" (click)="VM.remove(VM.Elemento.id)">
        <input class="btn btn-outline-primary" type="button" value="Volver" (click)="VM.cancel()">
      </div>
    </div>
  </form>
  